name: TWIR Dev summary

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  actions: read

jobs:
  notify:
    name: TWIR dev summary delivery
    uses: ./.github/workflows/common-delivery.yml
    secrets: inherit
    with:
      scope: dev
      send_main: false
      send_dev: true
      rust_log: debug
      check_last_sent: false
